.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
}

.list-item {
  width: calc((100% - 30px) / 3);
}

.items-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
